.block {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}
.pos-relative{
    position: relative;
    top: 20px;
    left: 30px;
}
.pos-absolute{
    position: absolute;
    right: 100px;
    top: 100px;
}
.absolut-container{
    width: 500px;
    height: 500px;
    padding: 50px;
    background-color: green;
    position: relative;
    right: 20px;
    top: 500px;
}

.pos-fixed{
    position: fixed;
    top: 0px;
    right: 0px;
}